<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ kind }} </title>
    <style>
        #hide {
            display: none;
        }
    </style>
</head>
<body>
    <table border=1>
        <tr>
            {% for col in columns %}
                <th> {{ col }} </th>
            {% endfor %}
        </tr>
        {% for i in iterate %}
        <tr>
            <td> {{ name[i] }} </td>
            {% for val in value[i] %}
            <td> {{ val }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <form action = "http://127.0.0.1:5000/receiver" method = "POST">
        <p id="hide"><input type = "hidden" name = "values" /> {{ value }} </p>

        <p><input type = "submit" name = "csv" value = "Download csv" /></p>
        <p><input type = "submit" name = "json" value = "Download json" /></p>
    </form>

</body>
</html>